#page {
    -fx-background-color: "white";
}

#title {
    -fx-text-fill: "black";
    -fx-background-color: "transparent";
}

.btn {
    -fx-background-color: "white";
    -fx-text-fill: "black";
}

.btn:hover {
    -fx-text-fill: "orange";
}